/* Container */
.container{
   /* Form */
   .form{
    padding-top: 30px;
  
   }
   /* Contact */
   .contact{
      text-align: center;
      /* Content */
      .content{
            display: inline-block;
            text-align: left;
      }
   }
}