    /* Button Container */
.getStartedButton{
    width: 192.934px;
    height: 48.437;
    border-color: var(--c-frame-background);
    background-color: var(--c-frame-background);
    color: var(--c-btn-background);
    /* While cursor hovering */
    &:hover{
        background-color: var(--c-btn-background);
        color: var(--c-frame-background);
    }
    /* Btn attribute */
    .btnText{
        font-size: 14px;
    }
}