/* Mint button container */
.mintButton {
    background-color: var(--c-frame-background);
    color: var(--c-btn-background);
    width: 255.75px;
    height: 48.98px;
}
/* While cursor hovering */
.mintButton:hover{
    color: var(--c-frame-background);
    background-color: var(--c-btn-background);
}