/* Navigator */
.navigator {
        border: 1px solid;
        border-color: #9E9E9E;
        width: 1903px;
        max-width: 1903px;
        height: 71px;
        max-height: 95px;
        padding-top: 22px;
        display: table;

    /* Navigator Button */
    .navBtn{
        padding-left: 700px;
        display: table-cell;
        
        button + button {
        padding-left: 20px; 
        }
            }

    /* Mark */
    .mark{
        padding-left: 30px;
        display: table-cell;
        
        .mark svg{
            font-size: 30px;
            display: table-cell;
        }
    /* .navBtn and .mark has the same display, because both of them is in different div, and those two div must be same row.*/
    }
    .loginButton{
        padding-right: 60px;
    }
}



