/* Navigator */
.navigator {
        border: 1px solid;
        border-color: #9E9E9E;
        width: 1903px;
        height: 62px;
        max-height: 95px;
        padding-top: 33px;
        display: flex;
}

/* Navigator Button */
.navBtn{
    padding-left: 864px;
}

/* Mark */
.mark{
    padding-left: 60px;
}

.mark svg{
    font-size: 30px;
}

/* .navBtn and .mark has the same display, because both of them is in different div, and those two div must be same row.*/

