
 .menu{
    width: auto;
    color: var(--c-navigation-font-color);
    font-size: 13px !important;
    align-self: center;
    text-align: center;
    transition: opacity 150ms linear, color 150ms linear, background 150ms linear;
    font-weight: 500 !important;
    line-height: 13px !important;
    padding-right: 10px;
    text-transform: initial;
    text-decoration: none;
    a{
        width: auto;
        color: var(--c-navigation-font-color);
        font-size: 13px !important;
        align-self: center;
        text-align: center;
        transition: opacity 150ms linear, color 150ms linear, background 150ms linear;
        font-weight: 500 !important;
        line-height: 13px !important;
        padding-right: 10px;
        text-transform: initial;
        text-decoration: none;
    }
        a:hover{
            color: var(  --c-btn-background);
        }
}
