/* Navigator */

.header{
    @media(--t){
        align-items: initial;
    }
    
    position: relative;
    background: var(--c-icon-color);
    box-shadow: none;
    padding-top: 22px;
    padding-left: 20px;
    border-bottom: 1px solid var(--c-shadow-color);
    padding-right: 20px;
    flex-direction: row;
    padding-bottom: 22px;

   
    @media(--d){
        padding-left: 60px;
        padding-right: 60px;

    }
    .navigator {
       flex:1;
       display: flex;

    


    /* Mark */
    .mark{
        display: flex;
        margin-left: auto;
        margin-right: 0;
       

    /* .navBtn and .mark has the same display, because both of them is in different div, and those two div must be same row.*/
    }
    .loginButton{
        padding-right: 20px;
        @media(--t){
            float: right;
    }}

    .homepageOption{
        padding-right: 10px;
    }

    .comp{
        @media(--d){
            margin-right: 30px;
        }
        display: flex;
        text-decoration: none;

    }
}

}

