/* Navigator */
.navigator {
        border: 1px solid;
        border-color: #9E9E9E;
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        padding:  1rem 1.5rem;
        /* Navigator Media */
        @media (--d){           
            max-width: 1270;
            height: 71px;
            max-height: 95px;
        }

    /* Navigator Button */
    .navBtn{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (--t){
            position: fixed;
            top: 5rem;
            flex-direction: column;
            width: 100%;
            display: center;
            transition: 0.3s;
        }
        
        button + button {
        padding-left: 20px; 
        }

        .navItem{
            margin-left: 5rem;
    }}

    /* Mark */
    .mark{
        padding-left: 10px;
        .mark svg{
            font-size: 30px;
            
        }
        @media(--t){
            display: inline-block;
            text-align: left;
        }

    /* .navBtn and .mark has the same display, because both of them is in different div, and those two div must be same row.*/
    }
    .loginButton{
        padding-right: 20px;
        @media(--t){
            display: inline-block;
            text-align: right;
    }}}



