/* Navigator */
.navigator {
        border: 1px solid;
        border-color: #9E9E9E;
        display: flex;
        justify-content: space-between;
        text-align: center;
        align-items: center;
        min-height: 75px;
        
        /* Navigator Media */
        @media (--d){           
            max-width: 1270;
            height: 71px;
            max-height: 95px;
        }

    a{
        color: var( --c-alternative-background-color);
        text-decoration: none;

        }
    a:hover{
        color: var(--c-btn-background) ;
    }

    a + a {
        padding-left: 20px; 
        }

    
    /* Navigator Button */
    .navBtn{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 12px !important;
        @media (--t){
            position: fixed;
            top: 5rem;
            flex-direction: column;
            width: 100%;
            display: center;
            transition: 0.3s;
        }
        
        .navItem{
            margin-left: 5rem;
    }
    .subBtn{
            font-size: 13px !important;
    }
}

    /* Mark */
    .mark{
        padding-left: 10px;
        .mark svg{
            font-size: 30px;
            
        }
        @media(--t){
            display: inline-block;
            text-align: left;
        }

    /* .navBtn and .mark has the same display, because both of them is in different div, and those two div must be same row.*/
    }
    .loginButton{
        padding-right: 20px;
        @media(--t){
            float: right;
    }}

    .homepageOption{
        padding-right: 10px;
    }
}



