.footerContainer{
    background-color: var(--c-frame-background);

    grid-template-areas: 'left right';
    grid-template-columns: 1200px 1fr;
    
    min-height: 350px;

        /* CSS from left side of footer */
    .leftSideOfContainer{
        color: white;
        padding: 20px;
        position: relative;
        .Icons{
            svg+svg{
                padding-left: 10px;
            } 
            svg{
                width: 29px;
                height: 29px;
             }
        }    
       .copyText{
           color: var(--c-btn-background); 
       }
        .copy{
            position: absolute;
            bottom: 20px;
        }
    }
    /* CSS from right side of footer */
    .rightSideOfContainer{
        text-align: left;
        top: 30%;
        -ms-transform: translateY(20%);
        transform: translateY(20%);
    }
}