.footerContainer{
    background-color: var(--c-frame-background);
    display: flex;
    flex-direction: row;
    -webkit-box-pack: justify;
    justify-content: space-between;
    height: 350px;
    max-height: 350px;

        /* CSS from left side of footer */
    .leftSideOfContainer{
        color: white;
        position: relative;
        padding: 20px;
        .Icons{
            svg+svg{
                padding-left: 10px;
            } 
            svg{
                width: 29px;
                height: 29px;
             }
        }  
    }  
        .copy{
            position: absolute;
            bottom: 10px;
            .copyText{
                color: var(--c-btn-background);  
            }
        }

     /* CSS from right side of footer */
     .rightSideOfContainer{
        transform: translateY(10%);
        padding-right: 40px;
            }
    }
   
    /*
    Documents:
    ----------

    flex-direction: The flex-direction CSS property sets how flex items are placed in the flex container defining the main
    axis and the direction.(Options're row, row-reverse, column, column-reverse)
    
    */