.header{
    font-size: 15px;
    color: var(--c-color-alternative);
}

.options{
    outline: 0;
   
}

.medium{
    width: 549.732px;
    height: 35.972px;
}
.big{

}

.option{
    font-size: 15px;
}