/* General Container */
.container{
    /* Body layout */
    .body{
        display: flex;
        flex-direction: row;
        span{
            font-weight: bold;
        }
        /* Left side at containner */
        .leftSide{
            padding-top: 50px;
            display: flex;
            -webkit-box-pack: center;
            justify-content: center;
            @media(--m){
                flex: 1 1 0%;
                border-right: 1px solid var(--c-alternative-border-color);
                -webkit-box-align: center;
                align-items: center;
                height: 100vh;
                position: sticky;
                top: 0px;
            }
        }
        /* Right Side at container */
        .rightSide{
            flex: 1 1 0%;
             /* Right Side at container */
            .rightSideContainer{
                font-size: 16px !important;
                line-height: 25px;
                width: 80%;
                padding: 50px 0px;
                margin: 0px auto;
                /* Text at Top */
                .topTextContainer{
                    *+*{
                        padding-top: 30px;
                    }
                }
                /* Image Container */
                .middleImageContainer{
                    display: flex;
                    flex-direction: column;
                    -webkit-box-align: center;
                    align-items: center;
                    margin-bottom: 20px;
                    margin-top: 30px;
                /* Link */
                a{
                    cursor: pointer;
                    /* Image inside link*/
                    img{
                        width: 100%;
                        max-width: 100%;
                    }
                }
                }
                /* Text Container at bottom */
                .bottomTextContainer{
                    lu{
                        list-style-type: disc;
                    }
                        li{
                            display: list-item;
                            text-align: -webkit-match-parent;
                        }
                }
            }
        }
    }
}