.businessContainer{
    background-color: var(--c-background-alternative-color);
    height: 88.438px;
    text-align: center;
   
    .businessText{
        transform: translateY(80%);
        .Span{
            color: var(--c-btn-background)
        }
    }
}