.container{
    display: grid;
    grid-template-areas: 'Advert Photos';
    grid-template-columns: 700px 1fr;
    background-color: var(--c-frame-background);
    color: white;
    width: 1730px;
    max-height: 426.26px;
    align-items: center;
    /*Advert Side */
    .advert{
        grid-area: Advert;
        text-align: start;
        position: absolute;
        padding: 70px;
        
        @media(--t){
            left: 35%;
        }
       
        .borderLine{
            line-height: 22.88px;
            opacity: 0.4;
            }  

        .subText{
            margin-top: 25px;
        }
        }
    
    .mintButton{
            margin-top: 32px;
    }  

    .photoExhibition{
        grid-area: Photos;
    
        .photos{
            text-align: justify;
            display: flex;
        }
        .subOwner{
            display: flex;
            margin: 32px;
          
            
        }
    }
    
}


