.container{
    display: grid;
    grid-template-areas: 'Advert Photos';
    grid-template-columns: 700px 1fr;
    background-color: var(--c-frame-background);
    color: white;
    width: 1730px;
    max-height: 426.26px;
    
    /*Advert Side */
    .advert{
        grid-area: Advert;
        text-align: start;
        position: absolute;
        top: 60%;
        left: 20%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

        @media(--t){
            left: 35%;
        }
       
        .borderLine{
            line-height: 22.88px;
            }  
        }
    
    .mintButton{
            margin-top: 32px;
    }  

    .photoExhibition{
        grid-area: Photos;
    
        .photos{
            text-align: justify;
            display: flex;
        }
        .subOwner{
            display: flex;
            margin-top: 32px;
            margin-left: 20px;
            
        }
    }
    
}


