.container{
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: var(--c-frame-background);
    color:white;

        .row{
            display: flex;
            flex-direction: row;
            -webkit-box-align: center;
            align-items: center;
            -webkit-box-pack: center;
            justify-content: center;
            max-width: none;
            @media(--m){
                flex-direction: row;
                align-items: flex-start;
                padding-right: 0px !important;
            }

            .advert{
               display: flex;
               flex-direction: column;
               -webkit-box-pack: center;
               justify-content: center;
               align-items: flex-start;
               
               width: 90%;
               padding-bottom: 50px;
                @media(--m){
                    align-items: flex-start;
                    width: 600px;
                    padding-top: 0px;
                    padding-bottom: 0px;
                    padding-right: 83px;    
                            }
                }
            
                .photoExhibition{
                    text-align: center;  
                    a + a {
                        padding-left: 30px;
                    }   
                }
        }
    

    align-items: center;
    /*Advert Side */
    .mintButton{
            margin-top: 32px;
    }  

    .photoExhibition{
        grid-area: Photos;
    
        .photos{
            text-align: justify;
            display: flex;
        }
        .subOwner{
            display: flex;
            margin: 32px;
          
            
        }
    }
    
}


