.getStartedContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10%;
    min-height: 312.969px;
    .getStartedTextSide{
        text-align: center;
        -webkit-transform: translateY(25%);
        color: var(--c-color-alternative);

        div+div{
            padding-top: 20px;
        }

        .getStartedHeaderText{  
            .Span {
                font-weight: bold;
            }
        } 
    }
    .ImageSide{
        padding-left: 87px;
    }
}