.quo{
    padding-top: 50px;
    padding-bottom: 50px;
    margin-bottom: 60px;
    background-color: var(--c-background-alternative-color);
    
    .content{
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        height: 100%;
        width: 100%;

        .marketPlaceSide{
            width: 100%;
            max-width: 1535px;
            padding-left: 20px;
            padding-right: 20px;
            @media(--m){
                max-width: 1795px;
                padding-left: 150px;
                padding-right: 150px;
            }

            @media(--o){
                padding-left: 75px;
                padding-right: 75px;
                max-width: 1645px;
            }

            .placeSide{
                text-align: center;
                display: flex;
                -webkit-box-alig: center;
                align-items: center;
                flex-direction: column;

                .quoHeaderText{
                    color: var(--c-quotates-font-color);
                    margin: 0px;
                    font-weight: 600px;
                    font-size: 26px;
                    line-height: 36px;
                    letter-spacing: 0.2px;
                }
                    .quoMiddleText{
                        margin: 23px 0px 0px;
                        font-weight: 400px;
                        font-size: 16px !important;
                        line-height: 22px;
                        letter-spacing: 0.12px;
                        max-width: 588px;
                
                }
                .quoIcons{
                    margin-top: 23px;
                    display: flex;
                    svg{
                        width: 26px;
                        margin-right: 16px;
                    }
                }
            }
        }
    }
}