.reasonContainer{
    color: var(--c-color-alternative);
    padding-left: 150px;
    min-height: 362.802px;
    
    .reasonHeader{
        -webkit-transform: translateY(45%);
        .Span{
            color: var(--c-btn-background);
        }
        .Line{
            opacity: 0.30;
        }
    }
    .middleContainer{
        display: flex; 
        
    }
    .reasonTextSide{
        padding-top: 56px;
    }

    .reastImageSide{
             
    
    }
    .footerContainer{
        padding-left: 30%;
        

    }
}