:root{
    --c-btn-background: #FCC729;
    --c-frame-background: rgb(28, 29, 30);
    --c-icon-color: #FFFFFF;
    --c-alternative-background-color: #000000;
    --c-border-color: rgb(74, 74, 74);
    --c-background-alternative-color: #FAFAFA;
    --c-color-alternative: #4D5153;
    --c-disabled-color-12: rgba(89, 88, 90, .12);
    --c-text-color-87: rgba(0,0,0, 0.87);
    --c-nft-standards-color: #4a4a4a;
}